/*!
 * SPDX-FileCopyrightText: 2019-2025 Valéry Febvre
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
.spinner {
    color: var(--accent-bg-color);
}

headerbar label.title, headerbar label.subtitle {
    padding-left: 0;
    padding-right: 0;
}

searchbar > revealer > box {
    padding-left: 0;
    padding-right: 0;
}

/* Override app-notification class */
.app-notification {
    margin: 12px 12px 24px 12px;
    border-radius: 12px;
}

/* History and Explorer searches */
.row-rounded-cover-frame {
    border-radius: 6px;
    border-width: 0;
    margin: 2px 0;
}

/* Badges */
label.badge {
    color: var(--light-1);
    font-weight: 700;
    background-color: var(--accent-bg-color);
    padding: 0 7px;
    border-radius: 999px;
}

/* Covers */
.cover-dropshadow {
    border-radius: 9px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 3px 1px rgb(0 0 0 / 7%), 0 2px 6px 2px rgb(0 0 0 / 3%);
}

/*
 * Library
 */
flowbox flowboxchild {
    padding: 6px; /* default is 4px */
    border-radius: 12px; /* default is 6px */
}
flowbox flowboxchild:selected {
	background-color: var(--accent-bg-color);
}

.library-thumbnail-name-label {
    font-size: 12px;
    font-weight: bold;
    color: var(--light-1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-shadow: -1px 1px 0 #444, 1px 1px 0 #444, 1px -1px 0 #444, -1px -1px 0 #444;
    background-image: linear-gradient(to top, rgb(0 0 0 / 50%), rgb(0 0 0 / 0%));
    padding: 20px 8px 4px 8px;
}

.library-thumbnail-badge-unread-chapters {
    background-color: var(--blue-2);
}
.library-thumbnail-badge-downloaded-chapters {
    background-color: #f68276;
}
.library-thumbnail-badge-recent-chapters {
    background-color: var(--green-3);
}

/*
 * Manga card
 */
/* Dangerous override of Adw.ViewSwitcher badge color (global) */
/* Badge displays the number of unread chapter (per convention in blue) */
/* Acceptable as long as it's the only badge used in an Adw.ViewSwitcher */
viewswitcher indicatorbin > indicator {
	background-color: var(--blue-2); /* unread chapters color */
}

.backdrop {
    background: linear-gradient(
                    127deg,
                    rgb(from var(--backdrop-background-color-0) r g b / calc(alpha * .4)),
                    rgb(from var(--backdrop-background-color-0) r g b / calc(alpha * 0)) 70.71%
                ),
                linear-gradient(
                    217deg,
                    rgb(from var(--backdrop-background-color-1) r g b / calc(alpha * .75)),
                    rgb(from var(--backdrop-background-color-1) r g b / calc(alpha * 0)) 70.71%
                    ),
                linear-gradient(
                    336deg,
                    rgb(from var(--backdrop-background-color-2) r g b / calc(alpha * .75)),
                    rgb(from var(--backdrop-background-color-2) r g b / calc(alpha * 0)) 70.71%
                );
    transition-property: background;
}
.backdrop button:focus:focus-visible,
.backdrop row:focus:focus-visible {
    outline-color: rgb(from currentColor r g b / calc(alpha * 0.25));
}
.backdrop list,
.backdrop listview,
.backdrop actionbar box {
    background: transparent;
}

listview :last-child {
    border-bottom: none;
}

.synopsis-label {
    line-height: 1.25;
}

/*
 * Reader
 */
carousel slider {
    background-color: var(--accent-bg-color);
}

.reader-page-number-indicator-label {
    color: var(--light-1);
    letter-spacing: 3px;
    /* bordered text */
    text-shadow: 1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000;
    font-weight: bold;
    margin-bottom: 8px;
}

.background-black {
    background-color: var(--dark-5);
}
.background-gray {
    background-color: var(--dark-4);
}
.background-white {
    background-color: var(--light-1);
}

/*
 * Explorer
 */
.explorer-server-listboxrow {
    padding: 16px 12px;
}

.explorer-server-section-listboxrow {
    padding: 12px;
    font-weight: 900;
    background: var(--headerbar-bg-color);
    color: var(--headerbar-fg-color);
}

.explorer-search-cover-button {
    padding: 0px;
}

/*
 * Download manager
 */
.download-manager-download-listboxrow {
    padding: 6px 6px 12px 6px;
}
